.row
  .col-lg-7.col-md-12
    %h3
      What happend recently
    = react_component 'Rewards', url: rewards_path(format: :json)
  .col-lg-5.col-md-12
    %h3
      Create new reward
    = react_component 'NewRewardForm', url: rewards_path(format: :json), recipients: @recipients
